POSTGRES_PASSWORD = 12345
POSTGRES_USER = user
POSTGRES_VERSION=16
POSTGRES_DATABASE= postgres
POSTGRES_PORT= 5433
POSTGRES_HOST= localhost
HASH_SALT=$2b$10$X9f5/8bvtUNnYG3b6ChBRe
ENCRYPT_PASSWORD=mySecretEncryptionKey123!
JWT_SECRET = namdeptrai
JWT_EXPIRE_IN = 1m
REFRESH_TOKEN_SECRET=mySecretRefreshTokenKey123!
REFRESH_TOKEN_EXPIRE_IN = 1d


